/* Estilizando o elemento pai para centralizar */
.container {
    display: flex;
    justify-content: center;
    align-items: center; /* Para centralizar verticalmente */
    height: 100vh; /* Faz o container ocupar toda a altura da viewport */
}

.product-container {
    display: flex;
    align-items: flex-start;
    padding: 15px;
    max-width: 900px;
    width: 100%;
}

.product-image {
    margin-right: 20px;
    width: 500px; /* Define a largura da imagem */
}

.product-image img {
    max-width: 100%; /* Garante que a imagem se ajuste dentro do contêiner */
    height: auto;
}

.product-details {
    flex: 1;
}

.product-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold; /* Adiciona negrito ao texto */
}

.product-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sizes {
    margin-bottom: 10px;
}

.sizes label {
    display: inline-block;
    padding: 10px 15px; /* Aumenta o padding para aumentar o espaço ao redor do texto */
    border: 2px solid #ccc; /* Aumenta a largura da borda */
    border-radius: 15px; /* Ajusta o raio da borda */
    margin-right: 10px;
    margin-bottom: 10px;
}

.quantity-selector {
    display: flex;
    align-items: center;
}

.quantity-selector label {
    font-size: 16px;
    margin-right: 10px;
}

.quantity-selector button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.quantity-selector input {
    width: 40px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
}

.clicked {
    background-color: gray;
}