---

---
<div class="about-container">
    <section class="about-section">
        <div class="about-image">
            <img src="image/red_shoes1.png">
        </div>
        <div class="about-content">
            <h2>Objetivos</h2>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical
                Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                professor at</p>
        </div>
    </section>
</div>