---

---

<footer>
    <div class="footer_main">
        <div class="tag">
            <h1>Get Help</h1>
            <a class="center">FAQ</a>
            <a class="center">Shipping</a>
            <a class="center">Returns</a>
            <a class="center">Payment Options</a>
        </div>

        <div class="tag">
            <h1>Contact</h1>
            <a><i class="fa-solid fa-phone"></i>+94 12 345 6789</a>
            <a><i class="fa-solid fa-envelope"></i>contact@gmail.com</a>
        </div>

        <div class="tag">
            <h1>Follow Us</h1>
            <div class="social_link">
                <a><i class="fa-brands fa-facebook-f"></i></a>
                <a><i class="fa-brands fa-instagram"></i></a>
                <a><i class="fa-brands fa-tiktok"></i></a>
                <a><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>

        <div class="tag">
            <h1>Payment Methods</h1>
            <a class="center">Multibanco</a>
            <a class="center">MB Way</a>
            <a class="center">Revolut</a>
            <a class="center">Paypal</a>
            <a class="center">Visa</a>
        </div>

        <div class="tag">
            <h1>Newsletter</h1>
            <div class="search_bar">
                <input type="text" id="email" placeholder="Your email here">
                <button type="submit" id="send">Subscribe</button>
            </div>
        </div>
    </div>
    <div class="author">
        <p>@2024 HypeSole</p>
    </div>
</footer>