---

---

<div class="main_lopper">
    <div class="main_content">
        <div class="main_image">
            <img src="image/shoes1.png">
            <img style="opacity: 0;" src="image/shoes.png">
        </div>
    </div>
</div>

<script>
    import "../scripts/imageLooper.js";
</script>